<h2>Logowanie administratora</h2>

<form method="post">
    <div class="mb-3">
        <label>Login</label>
        <input type="text" name="login" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Hasło</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Zaloguj
    </button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}