<h1>Kontakt</h1>
<p>Telefon: 123 456 789</p>
<p>E-mail: restauracja@dolcevita.pl</p>

<h3>Odwiedź nasze social media!</h3>
<p>Instagram: dolcevita.krakow</p>
<p>Facebook: Restauracja "Dolce Vita" Kraków</p>
