@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">System rezerwacji stolików</h1>
    <p>Witamy w restauracji Dolce Vita</p>
    <p>Zarezerwuj u Nas stolik już teraz! Online, szybko i wygodnie.</p>
</div>
